<h1 class="text-center text-decoration-underline">There are <%= @players.size %> Members in our family </h1>

<table class="table table-bordered bg-white">
  <thead class="bg-info-subtle">
    <tr>
      <th class="px-4">Names</th>
      <th class="text-center">Age</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <% @players.each_with_index do |player, index| %>
    <tr>
      <td class="px-4"><%= "#{index+1}) #{player.first_name} #{player.last_name}" %></td>
      <td class="text-center"><%= player.age %></td>
    </tr>
  <%end%>
</table>

<%= link_to "Create New Player", new_player_path %>